<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <meta name="description" content="">
        <% include ../../MainHTML/mainHead.html %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>
      <% include ../../MainHTML/menu.html %>
      <div style="margin-top:10rem">
        <img src="/Thien/images/Main/Sketch.png"  alt="Thien dot xyz"/>
    </div>
      
      <% include ../../MainHTML/Main-Footing.html %>
      <script src="/Thien/js/loadpagescript.js"></script> 
      <script> 
        $(function() {
            loadSlides();
        });
    </script> 
  </body>
</html>