
<!DOCTYPE html>

<html>
    <head>
        
        <title>Calendar</title>
        <meta name="description" content="">
        <% include ../MainHTML/mainHead.html %>
    </head>
    <body>
       
        <% include ../MainHTML/menu.html %>
        
        
        <div style="margin:5rem">
            <img src="_NZL2ndTrip/April2024.PNG" alt="April 2024" >
            <h4>Important dates</h4>
            <ul>
                <li>13/4/2024 Sydney airport</li>
                <li>15/4/2024 pickup campervan</li>
                <li>17/4/2024 Hobbiton movie set</li>
                <li>21/4/2024 7AM ferry crossing</li>
                <li>24/4/2024 drop off campervan & Air BnB</li>
                <li>26/4/2024 6am Christchurch airport</li>
            </ul>
        </div>
         
        
    
        <% include ../MainHTML/Main-Footing.html %> 
        <script src="/HCN/js/loadpagescript.js"></script> 
    </body>
   
</html>