
<!DOCTYPE html>

<html>
    <head>
        
        <title>Info</title>
        <meta name="description" content="">
                <% include ../MainHTML/mainHead.html %>
    </head>
    <body>
       
        <% include ../MainHTML/menu.html %>

        <div style="margin:5rem; padding-top: 1rem;">
            <a href="/DocLinks" target="_blank">
                <img src="../thien/images/general/Link.PNG">
                Documents
            </a>
            <br>
            <a href="../_NZL2ndTrip/Summ.pdf" target="_blank">
                <img src="../thien/images/general/Link.PNG">
                Short Summary
            </a>
            <br>
            <a href="../_NZL2ndTrip/Summary.pdf" target="_blank">
                <img src="../thien/images/general/Link.PNG">
                Summary
            </a>
        </div>
        
        <div style="margin:2rem">
            
            <h2>Addresses</h2>
            <div >
                <div style="margin:2rem;">
                    <h4>Auckland Hotel</h4>
                    <p><strong>Grand Central Serviced Apartments</strong></p>
                    <p>26 Te Taou Crescent, 1010 Auckland, New Zealand</p>
                </div>
                
            </div>
            
            <br>
            <div >
                <div style="margin:1rem;">
                    <h4>For Mighty Deuce Plus 2/3 Berth (soi)</h4>
                    <p>PICK UP</p>
                    <pre>
        New Zealand Motorhome Reference: 22264
        AUCKLAND DEPOT ADDRESS
        Opening Hours: Monday - Sunday: 08:00 - 16:00\
        13 Manu Tapu Drive,
        Auckland Airport,Auckland 2022,
        Ph Freephone 0800 113 131 or (09) 275 2451 Within NZ.
                    </pre>
                    
                    <p>RETURN </p>
                    <pre>
        CHRISTCHURCH DEPOT ADDRESS
        Opening Hours: Monday - Sunday: 08:00 - 16:00
        159 Orchard Road, Christchurch Airport, 8053
        Ph Freephone 0800 113 131 or (03) 357 5624 Within NZ
                    </pre>
                </div>
            </div>
            
            <div >
                <div style="margin:1rem;">
                    <h4>Kiwi Campers</h4>
                    <p>PICK UP</p>
                    <pre>
        AUCKLAND DEPOT ADDRESS
        197 Montgomerie Road, Unit 8
        Airport Oaks
        Auckland 2022
        Phone: (Int 64 ) 03 360 2641
                    </pre>
                        
                    <p>RETURN </p>
                    <pre>
        CHRISTCHURCH DEPOT ADDRESS (AND HEAD OFFICE)
        6 Export Avenue, Christchurch
        New Zealand
        Phone: (Int 64 ) 03 360 2641
                    </pre>
                </div>
            </div>

            <div >
                <div style="margin:1rem;">
                    <h4>Bluebridge</h4>
                    <p>Cook Strait Ferries</p>
                    <pre>
        Wellington Passenger Terminal: 50 Waterloo Quay, Wellington
                    </pre>
                    <img src="_NZL2ndTrip/BluebridgeTerminal.PNG"/>
                </div>
            </div>

            <div >
                <div style="margin:1rem;">
                    <h4>Air BnB</h4>
                    <p>Address 1</p>
                    <pre>
        35 Mappleton Avenue,
        Burnside,
        Christchurch 8053, 
        New Zealand
        Contact Sharon with questions or to coordinate check-in.
        Message host+64 22 453 4351

                    </pre>
                        
                    <p>Address 2 </p>
                    <pre>
        29 Everest Street,
        Burnside, 
        Christchurch 8053, 
        New Zealand
        Phone number: +86 138 1121 4601
        Contact Min with questions or to coordinate check-in.
        Message host+86 138 1121 4601 (86=China)

                    </pre>
                </div>
            </div>
        </div>
         
        
    
        <% include ../MainHTML/Main-Footing.html %> 
        <script src="/HCN/js/loadpagescript.js"></script> 
    </body>
   
</html>