
<!DOCTYPE html>
<html>
    <head>
        
        <title>Costing</title>
        <meta name="description" content="">
        <% include ../MainHTML/mainHead.html %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <style>
           .pIndent {margin-left:1rem;}
           .RightIndent {text-align: right;}
           .txtColor {color: red;}
        </style>
    </head>
    <body>
        <% include ../MainHTML/menu.html %>
        <br/>
        <br/>
        <br/>
        <h4 style="text-align: center;">Booked in advance</h4>
        <p style="text-align: center;">Money in <strong>AUD</strong>. PayId is phone number.</p>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col" >Name</th>
                      <th scope="col">To Airport</th>
                      <th scope="col">To Hotel</th>
                      <th scope="col">Cosy</th>
                      <th scope="col">W'ington</th>
                      <th scope="col">Kaiteriteri</th>
                      <th scope="col">Total</th>
                      <th scope="col">CR</th>
                      <th scope="col" class="RightIndent">Bal</th>
                      <th scope="col">Paid </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Thiện</th>
                      <td>80</td>
                      <td>35</td>
                      <td>46</td>
                      <td>49</td>
                      <td style="color:red;"><b>65</b></td>
                      <td>275</td>
                      <td>275</td>
                      <td class="RightIndent">0</td>
                      <td>&#10004;</td>
                    </tr>
                    <tr>
                      <th scope="row">Triệu</th>
                      <td>80</td>
                      <td>35</td>
                      <td>46</td>
                      <td>49</td>
                      <td style="color:red;"><b>65</b></td>
                      <td>275</td>
                      <td>275</td>
                      <td class="RightIndent">0</td>
                      <td>&#10004;</td>
                    </tr>
                    <tr>
                      <th scope="row">Cưỡng</th>
                      <td>80</td>
                      <td>35</td>
                      <td>46</td>
                      <td>49</td>
                      <td style="color:red;"><b>65</b></td>
                      <td>275</td>
                      <td>275</td>
                      <td class="RightIndent">0</td>
                      <td>&#10004;</td>
                    </tr>
                    <tr>
                        <th scope="row">Ngọc</th>
                        <td>80</td>
                        <td>35</td>
                        <td>46</td>
                        <td>49</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>275</td>
                        <td>275</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row">Thi</th>
                        <td>0</td>
                        <td>35</td>
                        <td>46</td>
                        <td>49</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>195</td>
                        <td>195</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row">Tài</th>
                        <td>0</td>
                        <td>35</td>
                        <td>46</td>
                        <td>49</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>195</td>
                        <td>195</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row">Trung</th>
                        <td>80</td>
                        <td>35</td>
                        <td>46</td>
                        <td>49</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>275</td>
                        <td>275</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row">Sồi</th>
                        <td>80</td>
                        <td>35</td>
                        <td>61</td>
                        <td>58</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>299</td>
                        <td>299</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row">Quang</th>
                        <td>0</td>
                        <td>0</td>
                        <td>46</td>
                        <td>49</td>
                        <td style="color:red;"><b>65</b></td>
                        <td>160</td>
                        <td>160</td>
                        <td class="RightIndent">0</td>
                        <td>&#10004;</td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">Sum</th>
                        <td></td>
                        <td></td>
                        <td>429</td>
                        <td>450</td>
                        <td>585</td>
                        <td>2159</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="pIndent">
            <p> Shuttle bus from home to Sydney Airport and back AU$80</p>
            <p> Bus from Auckland airport to hotel AU$35</p>
            <p> Cosy Holiday Park  - after movie set.</p>
            <p> Wellington Holiday Park (Before ferry crossing) - Un-power sites pay back 5NZD</p>   
            <p> Kaiteriteri Recreation reserved - After ferry crossing </p>
            <br/>
            <p> Also It's good to know the following so you can better prepare</p>
            <p> Kms cover = 50 + 160 + 130 + 100 + 100 + 50 + 70 + 90 + 40 + 50 + 330 + 130 + 110 + 190 + 400 + 400 + 250 + 100 = <strong>2750km</strong> (roughly)</p>
            <p> Khoảng chừng 275 L diesel (based on 100km for 10L)</p>
            <p> Nếu ở NZL thời điểm này 1/3/24, diesel - NZ$3 / 1L ==> 275x$3 = <strong>NZ$825</strong></p>
            <p> Plus Road User Charge NZ$7.6 for 100km ==> 2750 x 7.6/100 = <strong>NZ$209</strong></p>
            <p> <strong>Expected</strong> khoảng chừng <strong>NZ$1,000 </strong></p>
            <a href="/TheDollars"><strong>Previous PAID Info</strong></a>
        </div>
        
        

        <% include ../MainHTML/Main-Footing.html %> 
    </body>
</html>

