<!DOCTYPE html>
<html>
    <head>
        <title>Cookie Policy</title>
        <% include ../head.html %>
    </head>
    <body>
            
            <% include ../header.html %>
    
        <% include ../menuIntro.html %>

        <% include ../search.html %>
    
        <% include ../login-popup.html %>
    
        <% include ../forgot-popup.html %>
    
        <% include ../register-popup.html %>
        <div class="whitesmoke-section termOfUse">
            <div class="footingPages">
                <div><h1 class="has-separator text-center">Cookie Policy</h1></div>

                <div class="row">
                    <div >
                        <p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.</p>
                        <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer&rsquo;s hard drive.</p>
                        <p>We use the following cookies:</p>
                        <ul><li><strong>Strictly necessary cookies.</strong> These are cookies that are required for the operation of our website. They include cookies that enable you to log into and use the Planet English application.</li>
                        <li><strong>Analytical/performance cookies.</strong> They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</li>
                        </ul><p>You can find more information about the individual cookies we use and the purposes for which we use them in the table below:</p>
                        <table class="table table-bordered"><tbody><tr><td>Cookie</td>
                        <td>Name</td>
                        <td>Purpose</td>
                        <td>More information</td>
                        </tr><tr><td>wp-settings-*</td>
                        <td>CMS Settings</td>
                        <td>This cookie is essential for our site to:<br>
                        Store information about your preferences, and so allow us to customise our site and to provide you with offers that are targeted at your individual interests.</td>
                        <td></td>
                        </tr><tr><td>pll_language</td>
                        <td>Language Preferences</td>
                        <td>This cookie is essential for our site to:<br>
                        Remember which language you wish to view our site in</td>
                        <td></td>
                        </tr><tr><td>player<br>
                        _utma<br>
                        _utmb<br>
                        _utmc<br>
                        _utmt_player<br>
                        _utmz<br>
                        aka_debug</td>
                        <td>Vimeo embedded videos</td>
                        <td>This cookie is essential for our site to:<br>
                        Play video functionality</td>
                        <td>https://vimeo.com/cookie_policy</td>
                        </tr><tr><td>_utma<br>
                        _utmb<br>
                        _utmc<br>
                        _utmt<br>
                        _utmz</td>
                        <td>Google Analytics</td>
                        <td>These cookies are used to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited.</td>
                        <td>https://support.google.com/analytics/answer/6004245</td>
                        </tr></tbody></table><p>Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.</p>
                        <p>You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.</p>
                        <p>Except for essential cookies, all cookies will expire after 2 hours of inactivity.</p>
                        <p>10.5 Nothing in these terms purports to limit or exclude Planet English&#8217;s liability for personal injury or death caused by its negligence, fraud or fraudulent misstatement, or any other liability which it is not permitted by law to limit or exclude.</p>
                        <p><strong>11 Governing Law</strong></p>
                        <p>11.1 These terms and conditions are governed by the laws of England and all Subscribers and Planet English agree to the exclusive jurisdiction of the English courts for the determination of any dispute (including non-contractual claims) which may arise between them. The provisions of these terms and conditions are severable and if any of them is held to be invalid or unenforceable, that provision may be removed and the remaining provisions will be enforced.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <% include footer.html %>

        <script>    
            $(function() {
              inits();
            });
          </script>
    </body>
</html>