<html lang="en">
<head>
    <title>General help</title>
    <% include ../head.html %>
    <!-- <link rel="stylesheet" href="../../css/js_composer.min.css"> -->
</head>
<body>
    <% include ../header.html %>
    <% include ../menuIntro.html %>
    <% include ../search.html %>
    <% include ../login-popup.html %>
    <% include ../forgot-popup.html %>
    <% include ../register-popup.html %>

    <div class="lightGray-section">
        <div class="QAHeeading">Free - Students - Pro</div>
        <div class="QAColumns">
           
            <div class="QAColumn1">
                <div class="QASubHeeading">Free Content</div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                        
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg> 
                            <h4 class="QAQuest">Why do you offer free lessons?</h4>
                        </button> 
                    </QABtn>
                    <div hidden class="Answer">
                        <p>We are passionate about what we do and we want to help as many students as possible not only learn English, but learn perfectly. Learning English is something that has benefits for many, many people and can make a significant difference to their lives.
                            <br><br>We also like to do things differently. That’s why we use real, highly qualified and very experienced teachers to present the lessons to you in the most personal way possible.
                        </p>
                    </div>
                </div>
            
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">Is the content always free?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>Yes. Access to all 300 A1 – C1 (Elementary to Advanced levels) video lessons is still free, no payment details required before or after registration.
                            <br><br>Additional learning materials are available for subscribers. Check Our Plans page to understand all the benefits of each plan
                        </p>
                    </div>
                </div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">Can I subscribe for free?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>Yes. Absolutely!
                            <br>
                                Access to all 300 A1 – C1 (Elementary to Advanced levels) video lessons is still free. No payment details required before or after registration.
                                <br>
                                Check Our Plans  page to understand all the  benefits of each plan
                        </p>
                    </div>
                </div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">Do I need to give any payment details?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>All 300 A1 – C1 video lessons will still be free, and no payment details  will be required before or after registration for everyone staying in the FREE Plan.
                        </p>
                    </div>
                </div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">Will I still be able to enroll to any free course?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>Yes you can still take any free course. And you will be able to change level at any time.
                        </p>
                    </div>
                </div>
            </div>

            <div class="QAColumn2">
                <div class="QASubHeeading">Student Plan &amp; Pro Plan</div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">Why are there different subscription options?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>Because you asked us to! Some students only want lessons, other students want lots more practice and a certificate. Some students want more specialist courses so we have created different plans. But you can change plans at any time. Your maximum commitment to any plan is just 1 month.

                                Check Our Plans  page to understand all the  benefits of each plan.
                        </p>
                    </div>
                </div>
                <div class="QA">
                    <QABtn>
                        <button aria-expanded="false">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                                <rect class="vert" height="8" width="2" y="1" x="4"/>
                                <rect height="2" width="8" y="4" x="1"/>
                            </svg>
                            <h4 class="QAQuest">How long do I need to stay on a plan?</h4>
                        </button>
                    </QABtn>
                    <div hidden class="Answer">
                        <p>If you choose to join one of subscription plans, your maximum commitment is just 1 month. That is just 1 monthly payment. After that you can change plans if you like. If you do not want to renew your subscription, we will place you on the FREE plan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="lightGray-section">    
        <main>
                <h2>
                  <button aria-expanded="false">
                    Section 1
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                      <rect class="vert" height="8" width="2" y="1" x="4"/>
                      <rect height="2" width="8" y="4" x="1"/>
                    </svg> 
                  </button> 
                </h2>
                <div hidden>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros.</p>
                </div>
                <h2>
                  <button aria-expanded="false">
                    Section 2
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                      <rect class="vert" height="8" width="2" y="1" x="4"/>
                      <rect height="2" width="8" y="4" x="1"/>
                    </svg>   
                  </button>
                </h2>
                <div hidden>
                  <p>Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero.</p>
                </div>
              </main>
    </div> -->

    <% include footer.html %>
    <script>    
        $(function() {
            inits();
            
            const headings = document.querySelectorAll('QABtn');
            console.log(headings);
            Array.prototype.forEach.call(headings, h => {
                let btn = h.querySelector('button');
                let target = h.nextElementSibling;
                console.log(btn);
                btn.onclick = () => {
                    let expanded = btn.getAttribute('aria-expanded') === 'true';
                    
                    btn.setAttribute('aria-expanded', !expanded);
                    target.hidden = expanded;  
                }
            });
        });
    </script>
</body>
</html>