<html lang="en">
    <head>
        <title>About Us</title>
        <meta name="description" content="">
        <% include ../../MainHTML/mainHead.html %>
    </head>
<body>
    <% include ../../MainHTML/menu.html %>
    <% include ../../MainHTML/frontSlide.html %>

    <!-- <iframe class="doc" src="https://docs.google.com/gview?url=/HCN/AboutUs/About_VEFA_Eng.doc&embedded=true"></iframe> -->
    <iframe class="doc" src="https://docs.google.com/gview?url=http://hoicaoniennsw.net/hoicaonien/hcndocs/TBCDNVNSW202109.docx&embedded=true"></iframe>
    <!-- http://hoicaoniennsw.net/hoicaonien/hcndocs/TBCDNVNSW202109.docx -->
    <!-- <! include ../../MainHTML/Main-Footing.html %>  -->
    <script src="/HCN/js/loadpagescript.js"></script> 
</body>
</html>