<html lang="en">
<head>
    <title>General help</title>
    <% include ../head.html %>
    <!-- <link rel="stylesheet" href="../../css/js_composer.min.css"> -->
    <link rel="stylesheet" href="../../css/accordion.css">
</head>
<body>
    <% include  ../header.html %>
    <!-- <~include  ../../html/menuIntro.html ~> -->
    <!-- <~ include  ../../html/search.html ~> -->
    <% include  ../login-popup.html %>
    <% include  ../forgot-popup.html %>
    <% include  ../register-popup.html %>
    <div class="containerX">
        <div class="lightGray-section">
            <div class="QAHeeading">Free - Students - Pro</div>
            <div class="QAColumns">
            
                <div class="QAColumn1">
                    <div class="QASubHeeading">Free Content</div>
                    <div class="Accordion">
                        <!---1-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect1" id="accordion1id">
                                <span class="Accordion-title text-green"><span class="Accordion-icon"></span>Why do you offer free lessons?</span>
                            </button>
                        </h3>
                        <div id="sect1" role="region" aria-labelledby="accordion1id" class="Accordion-panel"  hidden="">
                            <!-- Variable content within section, may include any type of markup or interactive widgets. -->
                            <p>We are passionate about what we do and we want to help as many students as possible not only learn English, but learn perfectly. Learning English is something that has benefits for many, many people and can make a significant difference to their lives.
                                <br><br>We also like to do things differently. That’s why we use real, highly qualified and very experienced teachers to present the lessons to you in the most personal way possible.
                            </p>
                        </div>
                        <!---2-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect2" id="accordion2id">
                                <span class="Accordion-title"><span class="Accordion-icon"></span>Is the content always free?</span>
                            </button>
                        </h3>
                        <div id="sect2" role="region" aria-labelledby="accordion2id" class="Accordion-panel" hidden="">
                            <p>Yes. Access to all 300 A1 – C1 (Elementary to Advanced levels) video lessons is still free, no payment details required before or after registration.
                                <br><br>Additional learning materials are available for subscribers. Check Our Plans page to understand all the benefits of each plan
                            </p>
                        </div>
                        <!---3-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect3" id="accordion3id">
                                <span class="Accordion-title"><span class="Accordion-icon"></span>Can I subscribe for free?</span>
                            </button>
                        </h3>
                        <div id="sect3" role="region" aria-labelledby="accordion3id" class="Accordion-panel" hidden="">
                            <p>Yes. Absolutely!
                                <br>
                                    Access to all 300 A1 – C1 (Elementary to Advanced levels) video lessons is still free. No payment details required before or after registration.
                                    <br>
                                    Check Our Plans  page to understand all the  benefits of each plan
                            </p>
                        </div>
                        <!---4-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect4" id="accordion4id">
                                <span class="Accordion-title"><span class="Accordion-icon"></span>Do I need to give any payment details?</span>
                            </button>
                        </h3>
                        <div id="sect4" role="region" aria-labelledby="accordion4id" class="Accordion-panel" hidden="">
                            <p>All 300 A1 – C1 video lessons will still be free, and no payment details  will be required before or after registration for everyone staying in the FREE Plan.
                            </p>
                        </div>
                        <!---5-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect5" id="accordion5id">
                                <span class="Accordion-title"><span class="Accordion-icon"></span>Will I still be able to enroll to any free course?</span>
                            </button>
                        </h3>
                        <div id="sect5" role="region" aria-labelledby="accordion5id" class="Accordion-panel" hidden="">
                            <p>Yes you can still take any free course. And you will be able to change level at any time.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="QAColumn2">
                    <div class="QASubHeeading">Student Plan &amp; Pro Plan</div>
                    <div class="Accordion">
                        <!---6-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect6" id="accordion6id">
                            <span class="Accordion-title"><span class="Accordion-icon"></span>Why are there different subscription options?</span>
                            </button>
                        </h3>
                        <div id="sect6" role="region" aria-labelledby="accordion6id" class="Accordion-panel"  hidden="">
                            <div>
                                <p>Because you asked us to! Some students only want lessons, other students want lots more practice and a certificate. Some students want more specialist courses so we have created different plans. But you can change plans at any time. Your maximum commitment to any plan is just 1 month.
                                    Check Our Plans  page to understand all the  benefits of each plan.
                                </p>
                            </div>
                        </div>
                        <!---7-->
                        <h3>
                            <button aria-expanded="false" class="Accordion-trigger" aria-controls="sect7" id="accordion7id">
                            <span class="Accordion-title"><span class="Accordion-icon"></span>How long do I need to stay on a plan?</span>
                            </button>
                        </h3>
                        <div id="sect7" role="region" aria-labelledby="accordion7id" class="Accordion-panel"  hidden="">
                            <div>
                                <p>If you choose to join one of subscription plans, your maximum commitment is just 1 month. That is just 1 monthly payment. After that you can change plans if you like. If you do not want to renew your subscription, we will place you on the FREE plan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="lightGray-section">    
        <main>
                <h2>
                  <button aria-expanded="false">
                    Section 1
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                      <rect class="vert" height="8" width="2" y="1" x="4"/>
                      <rect height="2" width="8" y="4" x="1"/>
                    </svg> 
                  </button> 
                </h2>
                <div hidden>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros.</p>
                </div>
                <h2>
                  <button aria-expanded="false">
                    Section 2
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                      <rect class="vert" height="8" width="2" y="1" x="4"/>
                      <rect height="2" width="8" y="4" x="1"/>
                    </svg>   
                  </button>
                </h2>
                <div hidden>
                  <p>Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero.</p>
                </div>
              </main>
    </div> -->

    <hr class="hor-line">
    <% include ../footer.html %>
    <script src="../../js/accordion.js"></script>
    <script>    
        $(function() {
            inits();
            initAccordion();
            //const headings = document.querySelectorAll('QABtn');
            //console.log("heading");
            //console.log(headings);
            // Array.prototype.forEach.call(headings, h => {
            //     let btn = h.querySelector('button');
            //     let target = h.nextElementSibling;
            //     console.log(btn);
            //     btn.onclick = () => {
            //         let expanded = btn.getAttribute('aria-expanded') === 'true';
                    
            //         btn.setAttribute('aria-expanded', !expanded);
            //         target.hidden = expanded;  
            //     }
            // });
        });
    </script>
</body>
</html>